* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  /* background-image: url(janmesh-shah-kb1Wg_uVaYU-unsplash.jpg); */
  /* background-image: url("./Images/WhatsApp\ Image\ 2024-08-01\ at\ 1.58.14\ AM.jpeg"); */
  background-image: url("./Images/landingBg.jpeg");
  background-size: cover;
  background-position: center;
  height: 550px;
  position: relative;
  background-size: max(1200px, 100vw);
}

.main .box {
  width: 100%;
  position: absolute;
  background-color: black;
  height: 550px;
  opacity: 0.4;
  top: 0;
}
                                /* Login/SignUp button */

.auth-buttons {
  margin-right: -350px;
  display: flex;
  gap: 10px;
}
.btn {
  padding: 12px 28px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  filter: brightness(1.1);
}
.sign-in {
  background: linear-gradient(45deg, #0062e6, #33aeff);
  position: absolute;
  top: 3.5rem;
}

/* Login / SignUp page */

.formContainer {
  width: 70%;
  height: 66%;
  position: absolute;
  top: 1rem;
  margin: auto;
  border-radius: 10px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
  position: fixed;
}
.content {
  
  display: flex;
  flex-flow: row nowrap;
}
.loginImage  {
  height: 500px;
  width: 500px;
  display: flex;
}
.loginImage img {
  margin-top: 1rem;
  border-radius: 10px;
  margin-left: -2rem;
  /* box-shadow: 4px 4px 4px 4px rgb(64, 63, 63); */
  box-shadow: 4px 4px 4px 4px rgb(109, 109, 109);
}
.welcome {
  display: flex;
  flex-flow: column nowrap;
}
/* .line {
  width: 2px;
  height: 100rem;
  background-color: black;
} */
.formContainer div,
.loginOrSignup button {
  margin: auto;
  border: 1px solid black;
  border-radius: 40px;
  height: 3rem;
  border: none;
  font-size: 1.25rem;
}

.login form {
  margin-top: 6rem;
}
.login div {
  position: absolute;
  left: 12rem;
  font-size: 2rem;
}
.login {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  line-height: 0rem;
}
.close:hover {
  opacity: 0.7;
}
.formContainer .LOGIN div {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;
}
.formContainer form {
  display: flex;
  flex-flow: column nowrap;
}

.formContainer input {
  height: 3rem;
  width: 20rem;
  /* border: 0.1px solid grey;
    border-radius: 5px; */
}
.formContainer span {
  font-weight: 900;
  font-size: 2rem;
}
.forgot {
  color: #0000ee;
  margin-top: 1rem;
}
.sign-up,
.log-in {
  color: #0000ee;
}
.forgot,
.sign-up:hover,
.log-in:hover {
  cursor: pointer;
}
.Login button {
  width: 20rem;
  height: 3rem;
  border-radius: 20px;
  border: none;
  background-color: blue;
  color: white;
}
.forgot {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer .SIGNUP div {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  align-items: center;
}
.SIGNUP span {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.SIGNUP div {
  margin-bottom: 1rem;
}

.forgotPass {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.forgotPass div {
  margin-bottom: 2rem;
}
.or,
.validate,
.option1,
.option2 {
  text-align: center;
}
.submitDetail {
  text-align: center;
}
.submitDetail button {
  color: white;
  width: 10rem;
  height: 3rem;
  border: none;
  background-color: blue;
  border-radius: 10px;
}
.hello {
  transform: rotate(-90deg);
  transition: transform 0.3 ease;
  transition-duration: 0.5s;
}
.seperate {
  margin-bottom: 1rem;
  margin-top: 0rem;
  font-size: 1.15rem;
  font-weight: 100;
}

                        /* Front Page Slogans */
.promotions {
  font-family: "Poppins", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;
  color: white;
  align-items: center;
  gap: 30px;
  bottom: 40px;
}
.slog1 {
  position: relative;
  
  font-size: 47px;
  font-weight: bolder;
  bottom: 0;
  letter-spacing: -1px;

}
.slog2{
  
  font-size: 28px;
}
.slog3{
  font-size: 22px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 20px;
  /* background-color: #ffffff; */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  max-width: 1426;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}




/* .sign-up {
  background: linear-gradient(45deg, #ffffff, #85e085);
  color: #0062e6;
} */


.language-select {
  display: flex;
  align-items: center;
}

.language-dropdown {
  position: relative;
  left: 83px;
  bottom: 18px;
  padding: 12px 18px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: #f8f9fa;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  color: #333;
}

.language-dropdown:hover {
  border-color: #0062e6;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.button-container {
  text-align: center;
  position: relative;
  z-index: 10;
}
.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  position: relative;
  
  bottom: 64px;
  margin: auto;
}
.promotions{
  position: relative;
  display: flex;
  z-index: 10;
  gap: 50px;
  bottom: 50px;
}

.slog {
  color: white;
  font-size: large;
  position: relative;
  bottom: 10px;
  z-index: 10;
}
.book-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(45deg, #ff6f61, #d56b6b);
  border-radius: 50px;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s, transform 0.3s;
}

.book-button:hover {
  background: linear-gradient(45deg, #d56b6b, #ff6f61);
  transform: translateY(-2px);
}

.book-button:active {
  background: linear-gradient(45deg, #d56b6b, #ff6f61);
  transform: translateY(2px);
}


.faq h2 {
  text-align: center;
  font-size: 48px;
}


.faq {
  background: black;
  color: white;
  padding: 34px;
}

.faqbox:hover {
  background-color: #414141;
  color: white;
}

.faqbox svg {
  filter: invert(1);
}

.faqbox {
  transition: all 1s ease-out;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  padding: 24px;
  max-width: 60vw;
  margin: 34px auto;
  cursor: pointer;
  margin-bottom: 0rem;
  /* margin-top: 0rem; */
}
.rotate {
  transform: rotate(45deg);
  transition: transform 0.3 ease;
  transition-duration: 1s;
}

footer {
  width: 100%;
  color: white;
  max-width: 60vw;
  margin: auto;
  padding: 60px;
}

footer .questions {
  /* padding: 34px 0; */
  margin-top: 0rem;
}

.footer {
  display: flex;
  flex-flow: row nowrap;
  gap: 6rem;
  color: white;
  margin-top: 5rem;
}

@media screen and (max-width: 1300px) {
  footer {
    max-width: 90vw;
    padding: 75px 0;
  }

  .footer-item {
    align-items: center;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
}

.footer a {
  font-size: 14px;
  color: white;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.separation {
  height: 7px;
  background-color: rgb(46, 44, 44);
  position: relative;
  z-index: 20;
  /* margin-top: 1rem; */
}




                          /* Link section At last */
.highlight {
  font-weight: 900;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.fourth {
  margin-bottom: 1rem;

}
.footer-item {
  list-style-type: none;
}
.footer-item li {
  line-height: 0.5rem;
  font-weight: 1;
  
}

.footer-item a {
  text-decoration: none;
}
.footer-item a:hover {
  text-decoration: underline;
}


.trans {
  animation-name: ani;
  animation-duration: 0.4s;
  /* animation-delay: 1s; */
}

@keyframes ani {
  25% {
    padding-top: 2rem;
    
  }
  /* 50% {
    padding-top: 2rem;
  }
  75% {
    padding-top: 1rem;
  } */
  100% {
    padding: 24px;
  }
  
}
                        /* Most visited places section  */

.mostVisit {
  height: 30rem;
  background-color: black;
  
}
.TopPlaces {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: white;
  padding: 1rem;
}
.images {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  column-gap: 2rem;
  margin-left: 1rem;
  margin-top: 2rem;
  
  width: 100%;
  /* margin-left: 2rem; */
}
.images div {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  height: 22rem;
  border-radius: 12px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgb(226, 225, 225);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  /* background-color: #2b4162; */
  /* background-image: linear-gradient(white , black); */
  /* background-color: #F9FCFF; */
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
}
.images div:hover {
  transform: scale(1.1);
  transition-duration: 0.65s;
}
.images span {
  display: block;
  margin-top: 0.4rem;
  color: white;
  font-size: 1.5rem;
}
.images img {
  border-radius: 16px;
}
.TopPlaces span {
  margin-left: 0rem;
  padding: 3rem;
}

#left,#right {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 47rem;
 
}

#left:hover , #right:hover {
  opacity: 0.8;

}
#left {
  left: 2rem;
}
#right {
  right: 2rem;
}
.image {
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
}


                              /* Book Tickets button styling */
.images button {
  position: relative;
  background-color: rgb(230, 34, 77);
  border-radius: 5px;
  box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px;
  padding: 15px;
  background-repeat: no-repeat;
  cursor: pointer;
  box-sizing: border-box;
  width: 154px;
  height: 40px;
  color: #fff;
  border: none;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
}

.images button::before {
  content: "";
  background-color: rgb(248, 50, 93);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 700ms ease-in-out;
  display: inline-block;
}

.images button:hover::before {
  width: 100%;
}
.footer2 {
  margin-top: 4rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.footer2 span {
  width: 13rem;
  /* display: block; */
  font-size: 3rem;
  margin: auto;
}
.media {
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: center;
  align-items: center; */
  font-size: 1rem;
  margin-top: 2rem;
  gap: 1rem;
}
.media svg:hover {
  opacity: 0.8;
  cursor: pointer;
}
.followUs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.leftLine , .rightLine {
  height: 3px;
  width: 30rem;
  background-color: grey;
}
.leftLine {
  margin-right: 0.5rem;
}
.rightLine {
  margin-left: 0.5rem;
}



